<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDcRegionLabel" jhiTranslate="dataCenterApp.dcRegion.home.createOrEditLabel">Create or edit a Dc Region</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dcRegion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dcRegion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="dcRegion.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.regionName" for="field_regionName">Region Name</label>
            <input type="text" class="form-control" name="regionName" id="field_regionName"
                [(ngModel)]="dcRegion.regionName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.regionCode" for="field_regionCode">Region Code</label>
            <input type="text" class="form-control" name="regionCode" id="field_regionCode"
                [(ngModel)]="dcRegion.regionCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.province" for="field_province">Province</label>
            <input type="text" class="form-control" name="province" id="field_province"
                [(ngModel)]="dcRegion.province" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="dcRegion.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.district" for="field_district">District</label>
            <input type="text" class="form-control" name="district" id="field_district"
                [(ngModel)]="dcRegion.district" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.adcode" for="field_adcode">Adcode</label>
            <input type="text" class="form-control" name="adcode" id="field_adcode"
                [(ngModel)]="dcRegion.adcode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                [(ngModel)]="dcRegion.zipCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.level" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                [(ngModel)]="dcRegion.level" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.dcRegion.parentId" for="field_parentId">Parent Id</label>
            <input type="number" class="form-control" name="parentId" id="field_parentId"
                [(ngModel)]="dcRegion.parentId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
